<div class="portlet-title">
  <div class="caption font-green bold">
    <span class="am-icon-code"></span>
    <%= content_for :subtitle%>
  </div>
  <div class="tpl-portlet-input tpl-fz-ml">
    <div class="portlet-input input-small input-inline">
      <div class="input-icon right"></div>
    </div>
  </div>
</div>

<% columns = eval( CGI.unescapeHTML( yield(:show_info).to_str ) )%>


<div class="tpl-block">
  <div class="am-g">
    <div class="tpl-form-body tpl-form-line">
      <div class="am-form tpl-form-line-form">

        <% columns.each do |column |%>
          <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label"><%= t column%></label>
            <div class="am-u-sm-9">
              <div class="tpl-form-record"><%= object.send(column)%></div>
              <small></small>
            </div>
          </div>
        <% end -%>
        


        <div class="am-form-group">
          <div class="am-u-sm-9 am-u-sm-push-3">
            <%= content_for :back_url%>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


