<div class="tpl-left-nav-title">Amaze UI 列表</div>

<div class="tpl-left-nav-list">
  <ul>
    <li class="tpl-left-nav-item">
      <a href="<%= root_path%>" class="nav-link active">
        <i class=""></i>
        <span>首页</span>
      </a>
    </li>

    <% current_menu = Menu.find_by(url: request.path)%>
    <% ancestor_ids = current_menu.ancestor_ids rescue []%>

    <% menu_block = lambda do  |menus|%>
      <% return nil if menus.blank?%>
      <% menus.each do |menu|%>
        <% if menu.children.present? %>
          <li class="tpl-left-nav-item">
            <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
              <i class="am-icon-wpforms"></i>
              <span><%= menu.name%></span>
              <% if ancestor_ids.include?(menu.id)%>
                <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
              <% else%>
                <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
              <% end -%>
            </a>
            <ul class="tpl-left-nav-sub-menu">
              <li><% menu_block.call(menu.descendants)%></li>
            </ul>
          </li>
        <% else %>
          <a href="<%= menu.url%>">
            <i class="am-icon-angle-right"></i>
            <span><%= menu.name%></span>
            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
          </a>
        <% end -%>
      <% end -%>
    <% end -%>

    <% menu_block.call(Menu.roots)%>

    <li class="tpl-left-nav-item">
      <a href="login.html" class="nav-link tpl-left-nav-link-list">
        <i class=""></i>
        <span>登录</span>
      </a>
    </li>

  </ul>
</div>
